.index {
    @import "pages/index";
}
.venue {
    @import "pages/venue";
}
.tourism {
    @import "pages/tourism";
}
.contact {
    @import "pages/contact";
}
.schedule {
    @import "pages/schedule";
}
.team {
    @import "pages/team";
}
.sponsors {
    @import "pages/sponsors";
}
