.page-nav {
    margin-top: 25px;

    .next {
        text-align: right;
    }
}

.share-page {
    padding: 0 10px;
    font-size: 1.8em;

    a {
        text-decoration: none;
        color: #9d9d9d;

        &:hover {
            color: $link-color;
        }
    }
}
